# Platform files
.DS_Store
desktop.ini

# IDE/Editor files
.atom/
*.iml
.idea
.vscode/

# Compilation results
build/
ios/.generated/

# Flutter/Dart files
packages
.dart_tool/
.packages
.pub/
.flutter-plugins
